<div class="login-content-wrapper">
	<h1>Create a Prime account</h1>
	<form action="/performAcctCreate" method="POST">
		<div><input type="email" name="email" placeholder="Email" /></div>
		<div><input type="text" name="username" placeholder="Username" /></div>
		<div><input type="password" name="password" placeholder="Password" /></div>
		<div><input type="password" placeholder="Confirm Password" /></div>
		<div>
			<input type="submit" value="Create Account" onsubmit="return false;" style="width: 65%" />
		</div>
	</form>

	<script type="text/javascript">
		$("div.login-content-wrapper form input[type='submit']").submit( function(e) {
			e.preventDefault();
			return false;
		} );
	</script>
</div>
