<span class="item">
	{{#if item}}
		<h1 class="item-name">{{item.name}}</h1>
		<div class="price">
			<span class="sale-price">{{item.cost}}</span>
		</div>
		<span>
			<img class="item-pic" style="float: left; padding-right: 5px" src="/itemImage/0" width="50" height="50" />
			<span class="item-desc">
				{{item.desc}}
			</span>
		</span>
	{{^}}
		<h1>No such item exists</h1>
	{{/if}}
</span>
