<div class="login-content-wrapper">
	<h1>Login to Prime</h1>
	{{#if previousLoginFailed}}
		<h3 style="width: 100%; text-align: center; color: red">
			Login Failed.
		</h3>
	{{/if}}
	<form action="/performLogin" method="POST">
		<input type="hidden" name="returnTo" value="{{returnTo}}" />
		<div><input type="text" name="username" placeholder="Username" /></div>
		<div><input type="password" name="password" placeholder="Password" /></div>
		<div>
			<input type="submit" value="Login" />
			<input type="button" value="Create Account" />
		</div>
	</form>

	<script type="text/javascript">
		$("div.login-content-wrapper form input[type='submit']").submit( function(e) {
			var username = $("div.login-content-wrapper form input[type='text']"),
				password = $("div.login-content-wrapper form input[type='password']");

			if( $(username).val() === '' || $(password).val() === '' )
			{
				if( $(password).val() === '' )
					$(password).focus();

				if( $(username).val() === '' )
					$(username).focus();

				e.preventDefault();
				return false;
			}
		} );

		$("div.login-content-wrapper form input[type='button']").click( function(e) {
			e.preventDefault();
			window.location = "/createAccount";
		} );
	</script>
</div>
