<div class="login-content-wrapper">
	<h1>Login to Prime</h1>
	<form action="/performLogin" method="POST">
		<div><input type="text" name="username" placeholder="Username" /></div>
		<div><input type="password" name="password" placeholder="Password" /></div>
		<div>
			<input type="submit" value="Login" onsubmit="return false;" />
			<input type="button" value="Create Account" />
		</div>
	</form>
</div>
